@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --wrapper-width: 90%;
  --primary-color: #191765;
  --secondary-color: #edecff;
  --containers-side-padding: 30px;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--primary-color);
  color: #c8c8d4;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  font-size: 15px;
}

.container-1 {
  padding: 20px var(--containers-side-padding);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  color: white;
}

i {
  font-size: 30px;
}

.menu-1 {
  display: none;
  width: 300px;
}

.menu-2 {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
}

.grid-1 {
  display: grid;
  grid-template: auto 150px auto auto/ 100%;
}

.myself-1 {
  background-image: url("images/portfolio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.container-2 {
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 20px var(--containers-side-padding);
}

.container-2 > * {
  max-width: 500px;
}

.myself-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myself-2 .name {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.37px;
  color: #7d73fc;
  text-align: center;
}

.myself-2 .job {
  margin: 20px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: var(--secondary-color);
  text-align: center;
}

.intro-1 {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #646369;
}

.myself-3 {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  border-bottom: 1px solid #646369;
}

.skills-1 {
  flex: 1 0 120px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  padding-left: 10px;
}

.skills-2 {
  margin: 0 0 10px;
  display: inline-block;
  color: #9490ff;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.skills-3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skills-3 ul li {
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  color: #f5f5ff;
}

.icons-1 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--containers-side-padding);
}

.links {
  display: flex;
  margin: 40px 0;
  justify-content: center;
  list-style: none;
}

.links ul li {
  flex: 0 1 40px;
}

.links img {
  background: transparent;
  width: 30px;
  height: 30px;
}

.icons-1 .arrow-image {
  width: 60px;
  height: 30px;
}

.work-left {
  display: none;
}

.icons-1 .left-arrow {
  margin-left: 5px;
}

.icons-1 .right-arrow {
  margin-right: 5px;
}

.title-1 {
  grid-row: 1/2;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff !important;
  text-transform: uppercase;
  font-style: normal;
  width: 70%;
  justify-self: center;
}

.container-4 {
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-gap: 1rem;
  background-image: url("images/myself.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.container-4 > * {
  position: relative;
}

.container-4 .title-1 {
  border-bottom: 1px solid #646369;
  padding-bottom: 30px;
}

.project {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.p-1 {
  grid-row: 2/3;
}

.p-2 {
  grid-row: 3/4;
}

.p-3 {
  grid-row: 4/5;
}

.p-4 {
  grid-row: 5/6;
}

.project > * {
  align-content: center;
  width: 100%;
}

.picture {
  display: flex;
  align-content: flex-start;
  width: var(--wrapper-width);
  height: auto;
  justify-content: center;
  margin: 20px 0;
}

.project img {
  width: var(--wrapper-width);
  height: 100%;
}

.project-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-body > * {
  width: calc(var(--wrapper-width) - 50px);
}

.project .title-2 {
  justify-self: center;
  margin: 15px 0;
  padding: 0;
  font-size: 32px;
  line-height: 44px;
  color: white;
  font-weight: 500;
  text-align: center;
}

.project p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
  text-align: center;
}

.skills-4 {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 20px 0;
  list-style: none;
  font-family: "Inter", sans-serif;
}

.contact-form fieldset > * {
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  padding: 15px 16px;
  color: var(--primary-color);
  margin: 15px 0;
  transition: padding-left, 1s, ease-in;
}

.project .skills-4 > * {
  flex-grow: 1;
  text-align: center;
  border-right: 1px #555 solid;
}

.skills-4 li:last-child {
  border-right: hidden;
}

.view {
  width: calc(var(--wrapper-width) - 50px);
}

.btn-1 {
  width: 100px;
  height: 50px;
  padding: 10px 10px;
  background: #7d73fc;
  color: black;
  align-self: flex-start;
  transition: transform 200ms ease-in;
}

.btn-1:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  transform: scale(1.05);
}

.btn-1:active {
  background: #5e42d7;
}

.btn-1[disabled] {
  background-color: #2a2b33;
}

.btn-1[disabled]:hover {
  box-shadow: none;
}

.footer {
  display: flex;
  grid-row: 4 / 5;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 71px;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  padding: 20px 0;
}

.contact-1 p {
  display: inline-block;
  padding: 2rem 10%;
  text-align: center;
  font-size: 16px;
  color: #f5f5ff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 400px;
  padding: 0 10%;
}

.contact-form fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: max-content;
}

.contact-form fieldset > *:hover {
  padding-left: calc(16px + 5px);
}

.contact-form fieldset > *::placeholder {
  color: #81818c;
}

.contact-form fieldset textarea {
  height: 120px;
}

.footer-1 {
  display: flex;
  justify-content: center;
  border-top: 1px solid #3a3837;
  width: 100%;
  margin-top: 40px;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  padding-top: 20px;
}

.footer-2 .links {
  margin: 0;
}

.footer-2 a {
  text-decoration: none;
  color: #ebebff;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.container-5 {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
  width: 100%;
}

.title-4 {
  font-size: 40px;
  color: #9490ff;
}

@media screen and (min-width: 1024px) {
  .container-4 {
    grid-gap: 5rem;
  }

  .container-1 {
    position: sticky;
    top: 0;
    background-color: #191765;
    z-index: 1;
    padding: 20px 10%;
  }

  .bars {
    display: none;
  }

  .menu-1 {
    display: inline-block;
  }

  .myself-1 {
    background-image: url("images/portfolio-2.svg");
    background-size: contain;
  }

  .work-left {
    display: inline-block;
  }

  .icons-1 {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }

  .container-4 .title-1 {
    width: 90%;
    text-transform: capitalize;
  }

  .project {
    flex-direction: row;
    justify-content: center;
  }

  .picture {
    width: 45%;
    margin: 0;
    height: 100%;
    order: -1;
  }

  .project:nth-of-type(2n) .picture {
    order: 1;
  }

  .project-body .title-2 {
    text-align: left;
  }

  .project p {
    text-align: left;
  }

  .project img {
    width: 100%;
    margin: 0;
  }

  .project h3 {
    margin: 0;
  }

  .project-body {
    width: 45%;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;
  }

  .project-body > * {
    width: 100%;
    margin: 0;
  }

  .project-body .skills-4 {
    width: 50%;
    align-self: flex-start;
    text-transform: capitalize;
  }

  .view {
    padding: 20px 0 0;
    justify-self: flex-end;
  }

  .footer-2 {
    flex-direction: row;
    justify-content: space-around;
    width: 31.25rem;
    padding: 0 !important;
  }

  #contact {
    display: none;
  }

  .container-5 {
    display: none;
  }
}

@media screen and (max-width: 340px) {
  :root {
    --wrapper-width: 290px;
  }

  .container-4 {
    grid-template-rows: 80px repeat(4, auto);
  }

  .container-4 .title-1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 445px) {
  .name {
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
  }

  #contact {
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    padding-left: 15px !important;
  }
}

@media (min-width: 1100px) {
  #contact {
    display: none;
  }

  .footer-2 {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 11.25rem 0;
  }

  .container-5 {
    display: none;
  }
}

@media (max-width: 992px) {
  .title-4 {
    display: none;
  }

  .container-6 {
    display: none;
  }

  #contact {
    padding-left: 6rem;
  }
}
